:root {
  --color-texto: #3b412f;
  --color-texto-claro: #808175;
}

@font-face {
  font-family: 'Amour'; /* Choose a name for your font */
  src: url('../fonts/Amour.ttf') format('truetype'); /* Specify the path and format */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BellotaText'; /* Choose a name for your font */
  src: url('../fonts/BellotaText-Regular.ttf') format('truetype'); /* Specify the path and format */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BellotaTextLight'; /* Choose a name for your font */
  src: url('../fonts/BellotaText-Light.ttf') format('truetype'); /* Specify the path and format */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Imperial'; /* Choose a name for your font */
  src: url('../fonts/ImperialScript-Regular.ttf') format('truetype'); /* Specify the path and format */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya'; /* Choose a name for your font */
  src: url('../fonts/AlegreyaSC-Regular.ttf') format('truetype'); /* Specify the path and format */
  font-weight: normal;
  font-style: normal;
}


section {
    overflow: hidden;
}

.parallax-bg {
    will-change: transform;
}

.titulo {
    font-family: 'Amour', Georgia, serif;
    font-size: 240px;
    color: white;
}

.subtitulo {
    font-family: 'BellotaText', Georgia, serif;
    font-size: 36px;
    color: white;
    position: inherit;
    top: -126px;
    right: 86px;
}

.bordado-izquierdo {
    height: 100dvh;
    width: 28px;
    left: 0;
    top: 0;
    background: url('../images/bordado-izq.png');
    background-repeat: repeat-y;
    background-size: contain;
}

.bordado-derecho {
    height: 100dvh;
    width: 28px;
    right: 0;
    top: 0;
    background: url('../images/bordado-der.png');
    background-repeat: repeat-y;
    background-size: contain;
}

.contenedor-seccion1 {
    height: fit-content;
}

.card1 {
    position: inherit;
    width: 45%;
    top: 100px;
    left: 9%;
    margin-bottom: 260px;
}

.card1back {
    position: inherit;
    width: 45%;
    height: 60%;
    top: 160px;
}

.card1flores {
    position: absolute;
    width: 30%;
    top: 0;
    right: 2px;
    z-index: 1;
}

.seccion2 .sobre {
    width: 400px;
    object-fit: contain;
    margin-top: 60px;
    margin-bottom: 200px;
    z-index: 1;
}

.seccion2 .disco {
    position: absolute;
    width: 350px;
    left: calc(50% + 80px);
    bottom: 60px;
    z-index: 2;
}
.seccion2 .disco.in-view {
    animation:
        intro-rotation 5s ease-in forwards,
        rotation-linear 3s linear infinite;
    animation-delay: 0s, 5s;
}

@keyframes intro-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotation-linear {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(720deg);
    }
}

.seccion2 .fondoextra {
    position: absolute;
    width: 350px;
    left: calc(50% + 70px);
    top: 180px;
}

.seccion2 .fondoflores {
    position: absolute;
    width: 350px;
    right: calc(50% + 170px);
    top: 320px;
}

.seccion2 .vestimenta {
    position: absolute;
    right: calc(50% + 164px);
    top: 272px;
    height: 140px;
    z-index: 3;
    width: 256px;
}
.seccion2 .vestimenta .titulo {
    font-family: 'Imperial', Georgia, serif;
    font-size: 52px;
    color: var(--color-texto);
    margin-top: 10px;
}
.seccion2 .vestimenta .texto {
    font-family: 'BellotaText', Georgia, serif;
    font-size: 16px;
    color: var(--color-texto);
    line-height: 18px;
    margin-top: -12px;
}

.seccion2 .musica {
    position: absolute;
    width: 290px;
    left: calc(50% + 252px);
    top: 140px;
    height: 210px;
    z-index: 3;
}
.seccion2 .musica .titulo {
    font-family: 'Imperial', Georgia, serif;
    font-size: 52px;
    color: var(--color-texto);
    margin-top: 10px;
}
.seccion2 .musica .texto {
    font-family: 'BellotaText', Georgia, serif;
    font-size: 16px;
    color: var(--color-texto);
    line-height: 18px;
    margin-top: -12px;
}
.seccion2 .musica .boton {
    width: 182px;
    margin: 12px auto;
}

.seccion2 .detalles {
    position: absolute;
    width: 320px;
    right: calc(50% + 10px);
    top: 470px;
    height: 216px;
    z-index: 3;
    opacity: 0;
}

.seccion2 .detalles .titulo {
    font-family: 'Imperial', Georgia, serif;
    font-size: 52px;
    color: var(--color-texto);
    margin-top: 6px;
}
.seccion2 .detalles .texto {
    font-family: 'BellotaText', Georgia, serif;
    font-size: 16px;
    color: var(--color-texto);
    line-height: 18px;
    margin-top: -12px;
}
.seccion2 .detalles .boton {
    width: 164px;
    margin: 14px auto;
}


.seccion4 .titulo {
    font-family: 'Imperial', Georgia, serif;
    font-size: 82px;
    color: var(--color-texto-claro);
    margin-top: 40px;
    margin-bottom: 10px;
}

.seccion4 .subtitulo {
    font-family: 'BellotaText', Georgia, serif;
    font-size: 30px;
    color: var(--color-texto-claro);
}

.seccion4 .tiempo {
    margin-top: 6px;
    margin-bottom: 190px;
}

.seccion4 .contenedor {
    width: 550px;
    height: 240px;
    margin: auto;
}

.seccion4 .ondas {
    width: 150px;
    position: absolute;
    top: -25px;
    left: calc(50% - 365px);
}

.seccion4 .sello {
    width: 135px;
    height: 140px;
    position: absolute;
    top: -1px;
    left: calc(50% - 370px);
}

.seccion4 .boton {
    width: 330px;
    position: absolute;
    top: 210px;
    left: calc(50% + 36px);
    z-index: 2;
}

.seccion4 .valores {
    position: inherit;
    top: -215px;
}

.seccion4 .valores .valor {
    font-family: 'Alegreya', Georgia, serif;
    font-size: 94px;
    color: var(--color-texto-claro);
    width: 110px;
}

.seccion4 .valores-detalle {
    position: inherit;
    top: -232px;
}

.seccion4 .valores-detalle .valor {
    font-family: 'BellotaText', Georgia, serif;
    font-size: 20px;
    color: var(--color-texto-claro);
    width: 110px;
}

.final .logo {
    position: absolute;
    width: 120px;
    bottom: 20px;
    z-index: 1;
    left: calc(50% - 60px);
}

.final .fondo {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    object-position: center;
    height: 300px;
    overflow: hidden;
    width: 100vw;
}

.boton {
    opacity: 0.7;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.boton:hover {
    opacity: 1;
    transform: scale(1);
}


.fondo_confirmar {
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

form .titulo {
    font-family: 'BellotaText', Georgia, serif;
    font-size: 30px;
    color: var(--color-texto);
    margin-top: 10px;
    line-height: 36px;
}

form * {
    font-family: 'BellotaText', Georgia, serif;
    font-size: 16px;
    color: var(--color-texto);
}

.boton.confirmar {
    width: 200px;
}

.boton.sugerir {
    width: 200px;
}

.estampilla {
  --radius: 8px;

  background-image: 
    radial-gradient(
      var(--radius),
      transparent 98%,
      #fff8ee
    ),
    linear-gradient(#fff8ee 0 0);
  background-repeat: 
    round, 
    no-repeat;
  background-position:
    calc(var(--radius) * -1.5) calc(var(--radius) * -1.5),
    50%;
  background-size:
    calc(var(--radius) * 3) calc(var(--radius) * 3),
    calc(100% - var(--radius) * 3) calc(100% - var(--radius) * 3);
}


.counter {
    position: relative;
    height: 142px;
    overflow: hidden;
}

.counter-number {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

/* sale */
.counter-number.exit {
    animation: slideUpFadeOut 0.35s ease forwards;
}

/* entra */
.counter-number.enter {
    animation: slideUpFadeIn 0.35s ease forwards;
}

@keyframes slideUpFadeOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideUpFadeIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width: 768px) {

    .bordado-izquierdo {
        height: 28px;
        width: 100vw;
        left: 0;
        top: 0;
        background: url('../images/bordado_arriba.png');
        background-repeat: repeat-x;
        background-size: contain;
    }

    .bordado-derecho {
        height: 28px;
        width: 100vw;
        right: 0;
        top: calc(100dvh - 28px);
        background: url('../images/bordado_abajo.png');
        background-repeat: repeat-x;
        background-size: contain;
    }

    .titulo {
        font-size: 90px;
        left: calc(50% - 80px);
    }

    .subtitulo {
        font-size: 16px;
        top: -50px;
        left: calc(50% - 132px);
    }

    .card1 {
        width: 80%;
        top: 100px;
        margin-bottom: 0;
    }

    .card1back {
        width: 80%;
        top: 70px;
        left: 50px;
        margin-bottom: 180px;
    }


    .seccion2 .disco {
        width: 240px;
        left: calc(50% - 178px);
        bottom: 160px;
    }

    .seccion2 .detalles {
        left: 30px;
        top: 40px;
        height: 216px;
        width: 300px;
    }

    .seccion2 .sobre {
        width: 300px;
        margin-top: 170px;
        margin-bottom: 400px;
        margin-left: 40px;
    }

    .seccion2 .fondoextra {
        position: absolute;
        width: 244px;
        left: calc(50% - 107px);
        top: 520px;
        z-index: 2;
    }

    .seccion2 .fondoflores {
        position: absolute;
        width: 300px;
        right: calc(50% - 122px);
        top: 210px;
    }

    .seccion2 .vestimenta {
        right: calc(50% - 32px);
        top: 455px;
        height: 125px;
        width: 210px;
    }
    .seccion2 .vestimenta .titulo {
        margin-top: 2px;
    }

    .seccion2 .musica {
        width: 266px;
        left: calc(50% - 97px);
        top: 753px;
        height: 184px;
    }
    .seccion2 .musica .titulo {
        margin-top: 0px;
    }

    
    .seccion4 .tiempo {
        margin-left: 32px;
        margin-bottom: 260px;
    }

    .seccion4 .titulo {
        font-size: 62px;
        margin-top: 30px;
        margin-bottom: 30px;
        line-height: 54px;
    }

    .seccion4 .contenedor {
        width: 286px;
        height: 120px;
    }

    .seccion4 .subtitulo {
        font-size: 30px;
    }

    .seccion4 .valores {
        top: -108px;
    }

    .seccion4 .valores .valor {
        font-size: 48px;
        width: 64px;
    }

    .seccion4 .valores-detalle {
        top: -186px;
    }

    .seccion4 .valores-detalle .valor {
        font-size: 12px;
        width: 64px;
    }

    .seccion4 .ondas {
        width: 80px;
        top: -13px;
        left: calc(50% - 188px);
    }

    .seccion4 .sello {
        width: 70px;
        height: 72px;
        top: -4px;
        left: calc(50% - 198px);
    }

    .seccion4 .boton {
        top: 114px;
        left: calc(50% - 66px);
        width: 230px;
    }

}


